.cart-overlay-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    &__info{
        display: flex;
        justify-content: space-between;
        width: 80%;

        p{
            font-weight: 300;
            font-size: 16px;
            margin-bottom: -4px;
        }

        &-price{
            margin-top: 20px;

            span{
                font-weight: 500;
                font-size: 16px;
            }
        }

        &-count{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            font-size: 16px;

            .count-plus,.count-minus{
                border: 1px solid #1D1F22;
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                text-align: center;
                cursor: pointer;
            }
        }

        &-attributes{

            div{

                div{
                    margin-top: 5px;
                    display: flex;
                    align-items: center;

                    .attribute{
                        font-weight: 400;
                        font-size: 14px;
                        min-width: 24px;
                        height: 24px;
                        display: flex;
                        color: #A6A6A6;
                        justify-content: center;
                        border: 1px solid #A6A6A6;
                        margin-right: 5px;
                        text-align: center;
                        cursor: pointer;

                        &.selected-attribute{
                            background-color: #1D1F22;
                            color: #fff;
                        }
                        &.selected-color{
                            border:2px solid #000;
                        }
                    }
                }
                
            }
        }
    }

    &__image{
        width: 105px;
        height: 137px;

        img{
            width: 100%;
            height: 100%;
        }
    }
}